@import url(http://fonts.googleapis.com/css?family=Open+Sans);
html,
body {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  background-color: #263238;
  color: #e0e0e0;
}

h1 {
  text-align: center;
}

button {
  background: none;
  border: none;
  background-color: #009688;
  color: #e0e0e0;
  font-size: 12px;
  padding: 7px 20px;
  border-radius: 3px;
  transition: background-color 0.4s ease;
  text-decoration: none;
}
button:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #4db6ac;
}
button:active {
  box-shadow: none;
}

.container {
  padding: 0 10px;
}

.cow {
  height: 250px;
  width: 500px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.actions {
  margin-top: 20px;
  margin-left: 175px;
  margin-right: auto;
  width: 150px;
}
.actions button {
  width: 150px;
  margin-top: 10px;
}

#quote {
  font-size: 20px;
}

